@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollToTop {
  position: fixed;
  width: 10%;
  bottom: 20px;
  left: 88%;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: #ffff;
}

.scrollToTop:hover {
  opacity: 1;
}

:root {
  --gradient-primary: linear-gradient(to top left, #6366f1, #ec4899);
}

.highlight {
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-20deg);
  background-image: var(--gradient-primary);
}

@media screen and (max-width: 768px) {
  .highlight {
    width: 90%;
    margin: auto;
    font-size: 3.3rem;
    transform: scale(0.97, 0.9) skewX(-10deg);
    background-image: red;
  }

  .scrollToTop {
    left: 80%;
  }
}

.nav-bar {
  animation-name: buttom-to-top;
  animation-duration: 1s;
}

@keyframes buttom-to-top {
  0% {
    top: 150px;
  }

  100% {
    top: 68px;
  }
}
